.nature{
  background-image: url(../nature.webp);
}
.blog1 h1{
  text-align: center;
  padding-top: 50px;
}
.createblog input,.createblog textarea{
  background-color: transparent;
  /* border: 1px solid #ccc; */
}
input::placeholder, textarea::placeholder {
  color: black;
}
.button1{
  padding-top: 50px;
  text-align: center;
}
.blog h2{
  padding-top: 50px;
  text-align: center;
}
.blog{
  border: 2px solid rgb(245, 245, 245);
  margin: 50px 150px;
  padding: 10px 50px;
  border-radius: 50px;
  background-color: rgb(245, 242, 242);
}
.slide1{
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}
.blog:hover{
  background-color: rgb(214, 214, 214);
}
.slide1 img{
  width: 600px;
  height: 250px;
  border-radius: 20px;
}
.slide1 p{
  padding-top: 50px;
}
button{
  color: white;
}
.b1{
  margin: 30px 600px;
   background-color: rgb(0, 0, 217);
  width: 250px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}
.b1:hover{
  background-color: #0013a4;
}
.one img{
  width: 500px;
  height: 500px;
  border-radius: 30px;
}


.f1{
  padding: 50px 300px;
}
.f2{
  background-color: #F2E5BF;
}
.f3{
  background-color: #0D92F4;
}
.f4{
  background-color: #000B58;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 350px;
  height: 35px;
  padding: 5px;
}
form{
  display: grid;
  gap: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
}
/* button{
  width: 200px;
  margin-left: 100px;
} */

 .c1{
  margin: 50px;
 }
.createblog{
  /* background-color: #f8f8f8; */
  /* background-image: linear-gradient(to right,#A64D79 , #6A1E55); */
  color: white;
  border: none;
}


.footer1{
  background-color: black;
  color: white;
  display: flex;
  gap:50px;
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.ft1 ul li{
 padding: 5px;
 list-style-type: none;
}
.ft1{
  margin-top: 50px;
  margin-left: 100px;
}
/* read blog */
.read h1{
  padding-top: 50px;
  text-align: center;
}

.read2{
  padding: 20px;
  /* border: 2px solid rgb(232, 232, 232); */
}

.read2-2 h2{
  color: #000B58;
}


  .b2{
  
    background-color: rgb(0, 0, 217);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
  }
  .b2:hover{
    background-color: #0013a4;
  }
  .create h1{
    padding-top: 50px;
    text-align: center;
  }

  .b3{
    color: white;
    text-decoration: none;
  }
  .b3:hover{
    color: white;
  }


  
/* read */

.read2-1 img{
  width: 375px;
 height: 250px;

}
.read1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  margin: 100px;
}
.read2{
  width: 400px;
  height: 500px;
  margin: 10px 0px;
}
.read2 h4{
  font-size: 13px;
}

/* change blog */
.change-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 0;
  
}
.change2 h4{
  font-size: 13px;
}

.change1{
  margin: 10px 0px;
  /* border: 2px solid rgb(235, 235, 235); */
  width: 450px;
  height: 750px;
  padding: 20px;
 
}

.change2 img{
   width: 425px;
  height: 200px;
 
}
 
 .change2,.change3{
  display: grid;
  gap:10px;
 }
 .changeBlog h1{
  padding-top: 50px;
  text-align: center;
}
 .change3 input, .change3 textarea,.change3 button{
  width: 400px;
 }
 .change3 button{
  margin-top: 5px;
 }
.createblog button{
  margin-top: 5px;
  }
  .read2-2 h5{
    float: right;
    padding-right: 50px;
  }
  .read2-2 h2,.change2 h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
  }
  .read2-2 h5{
    text-transform: capitalize;
  }
  .read2-2 h2{
    text-align: center;
  }
  .total-blog{
    text-align: center;
  }
.read h3{
  padding: 50px 150px 0px 150px;
  color: rgb(0, 0, 184);
  text-align: center;
}